		body {
			margin: 0;
			font-family: Arial, Helvetica, sans-serif;
			background-color:#DCDCDC;
			color: #000000;
		}

		.topnav {
			overflow: hidden;
			background-color: #777777;
		}

		.topnav a {
			float: left;
			color: #f2f2f2;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
			font-size: 17px;
			width: 17%; /* Five links of equal widths */
		}

		.topnav a:hover {
			background-color: #dddddd;
			color: black;
		}

		.topnav a.active {
			background-color: #4CAF50;
			color: white;
		}
		
		h1 {
		 font-size: 150%;
		}
		
table {
  margin-left: 20px;
  margin-right: 20px;
  border: thin solid black;
  caption-side: bottom;
  border-collapse: collapse;
}

td, th {
  border: thin dotted gray;
  padding: 5px;
}
caption {
  font-style: italic;
  padding-top: 8px;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

th { background-color: #1c9e3f;
}

.cellcolor { background-color: #1c9e3f;
  
}

li {
  list-style-type: "\1F61C";
}