

  .col-container {
      display: flex;
      width: 100%;
    }
    .col {
      flex: 1;
      padding: 16px;
    }

		body {
			margin: 0;
			font-family: courier, monospace;
			background-color:#CCCCFF;
			color: #1a1a1a;
			font-size: medium;
		}
		
		h1, h2, p {
		  padding-left: 16px;
		  padding-right: 16px;
		}
		
		h1 {
		  font-size: 250%;
		}
		
		h2 {
		  font-size: 160%;
		}

		.topnav {
			overflow: hidden;
			background-color: #000066;
			padding-left: 0px;
		}

		.topnav a {
			float: left;
			color: #f2f2f2;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
			font-size: 17px;
			width: 17%; /* Five links of equal widths */
		}

		.topnav a:hover {
			background-color: #f1f1f1;
			color: #1a1a1a;
		}

		.topnav a.active {
			background-color: #FFFF99;
			color: #1a1a1a;
		}
		
		#myChart {
		  position: center;
      margin-left:100px;
      margin-right: 20px;
		  width:100%;
		  max-width:1200px;
		  height:500px;
		}
		
		table {
	position: center;
	margin-left:100px;
  margin-right: 20px;
  border: thin solid black;
  caption-side: bottom;
  border-collapse: collapse;
  right: 60px;
}
td, th {
  border: thin dotted gray;
  padding: 10px;
}

caption {
  font-style: italic;
  padding-top: 8px;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}
.header{
  background-color: #000066;
  color: #CCCCFF;
}
.purple{
  background-color: #5c0099;
  color: #CCCCFF;
}

form {
  padding: 10px;
  border: thin dotted #CCCCFF;
  background-color: #000066;
  color: #CCCCFF;
  margin: 20px;
}

form textarea {
  width: 500px;
  height: 50px;
}

div.tablerow p {
  display: table-cell;
  vertical-align: top;
  padding: 3px;
}
div.tablerow p:first-child {
  text-align: right;
}
p.heading {
  font-weight: bold;
}