body {
			margin: 0;
			font-family: Arial, Helvetica, sans-serif;
			background-color:#FFEBCD;
			color: #00000;
			font-color: orange;
			font-side:40px;
		}

		.topnav {
			overflow: hidden;
			background-color: #F5B041;
		}

		.topnav a {
			float: left;
			color: #f2f2f2;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
			font-size: 18px;
			width: 17%; /* Five links of equal widths */
		}

		.topnav a:hover {
			background-color: #F5B041;
			color: orange;
		}

		.topnav a.active {
			background-color: #FFFFFF;
			color: orange;
		}
		h1,h5,h6 {
		       font-size: 130%;
		       color: #D2691E;
		}
		h2{
		   font-size:120%;
		   color:black ;
		}
		p {
		   font-size: 100%;
		   color: black;
		}
				
				
		@font-face {
	font-family: "Emblema One";
	src: url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.woff"),
	     url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.ttf");
}
body {
  font-family:     Verdana, Geneva, Arial, sans-serif;
  font-size:       small;
}
h1, h2, h3 {
  color:           #cc6600;
  border-bottom:   thin dotted #888888;
}
h1 {
  font-family:     "Emblema One", sans-serif;
  font-size:       220%;
}
h2 {
  font-size:       130%;
  font-weight:     normal;
}
blockquote {
  font-style:      italic;
}

table {
    border-spacing: 10px 30px;
    border: thin solid black;
    caption-side: bottom;
    border-collapse:collapse;
}
td, th {
     border: thin dotted gray;
     padding: 5px;
}
caption {
     font-style: italic;
     padding-top: 8px;
}
th { BACKGROUND-color: #cc6600; }
.cellcolor { background-color: #FFA07A;}
<tr class="cellcolor">

.right {
  text-align:right;
}
.center {
  text-align:center;
}
li {
  list-style-type: "\1F44D";
}
form {
  display:table;
  padding:10px;
  border: thin dotted #7e7e7e;
  background-color: #F5B041;
  margin: 20px;
}

form testaea {
  width: 500px;
  height: 40px;
}

div.tablerow {
  display: table-row;
}

div.tablerow p {
  display: table-cell;
  vertical-align: top;
  padding:3px;
}

div.tablerow p:first-child {
  text-align:right;
}

p.heading {
  font-weight: bold;
}